body {
    font-family: "Poppins", sans-serif;
    font-style: normal; 
}

.btn{
    --bs-btn-border-radius: 0;
    --bs-btn-padding-x: 0.900rem;
    --bs-btn-padding-y: 0.360rem;
}

.btn-main{
    --bs-btn-color: #fff;
    --bs-btn-bg: #E14072;
    --bs-btn-border-color: #E14072;
    --bs-btn-hover-color: #E14072;
    --bs-btn-hover-bg: #fff;
    --bs-btn-hover-border-color: #E14072;
    --bs-btn-focus-shadow-rgb: #E14072;
    --bs-btn-active-color: #E14072;
    --bs-btn-active-bg: #{shade-color(#E14072, 20%)};
    --bs-btn-active-border-color: #{shade-color(#fff, 20%)};
}

.navbar-link{
    padding-top: var(--bs-navbar-brand-padding-y);
    padding-bottom: var(--bs-navbar-brand-padding-y);
    margin-right: var(--bs-navbar-brand-margin-end);
    text-decoration: none;
}

.text-color{
    color:#272525;
}